h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
*, *:focus, *:after, *:before {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}
ul {
	list-style: none;
}
a {
	text-decoration: none
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
article,aside,footer,header,nav,section,canvas {
	display: block;
}
input {
	outline: none;
	border: none;
	background: none;
}

button {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}
section {
	margin-bottom: 85px;
}
.title {
	font-size: 32px;
	font-weight: 700;
	line-height: 120%;
	@media(max-width: 767px) {
		font-size: 22px;
	}
}
.title-b {
	font-size: 41px;
	font-weight: 700;
	line-height: 110%;
	@media(max-width: 767px) {
		font-size: 31px;
	}
}
.modal {
  &__overlay {
    background-color: rgba(#000, 0.79);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
		z-index: 100;
  }
  &__close {
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    &:after, &:before {
      content: '';
      display: block;
      width: 110%;
      height: 2.5px;
      background-color: #C1C1C1;
      position: absolute;
      left: 0;
      top: 9px;
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
  &__wrap {
    background-color: #fff;
    padding: 60px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 435px;
    width: 100%;
		z-index: 999;
    @media(max-width: 767px) {
      padding: 60px 15px;
      max-width: 335px;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 25px;
    @media(max-width: 767px){
      text-align: center;
    }
  }
  &__input {
    margin-bottom: 20px;
  }
  &__btn {
    button {
      width: 100%;
      padding: 16px 0px;
    }
  }
}